div.chatbox-me {
  background-color: #754ffe;
  border: 1px solid #e5e5ea;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  font-family: "SanFrancisco";
  font-size: 1.25rem;
  margin: 0 auto 1rem;
  color: white;
  max-width: 600px;
  padding: 0.5rem 1.5rem;
}

div.chatbox-them {
  background-color: #cececf;
  border: 1px solid #e5e5ea;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  font-family: "SanFrancisco";
  font-size: 1.25rem;
  margin: 0 auto 1rem;
  max-width: 600px;
  padding: 0.5rem 1.5rem;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
  box-shadow: 0 0 0 0.25rem rgb(138 105 254 / 50%);
}

.btn-check:focus+.btn-primary, .btn-primary:focus, .btn-primary:hover {
  background-color: #6343d8;
  border-color: #5e3fcb;
  color: #fff;
}

.chat-btn-light {
  background-color: #f5f4f8;
  border-color: #f5f4f8;
  color: #000;
}

.chat-rounded-circle {
  border-radius: 50%!important;
}

.chat-me-1 {
  margin-right: 0.25rem!important;
}

.chat-btn-primary {
  background-color: #754ffe;
  border-color: #754ffe;
  color: #fff;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}

.fe-edit:before {
  content: "\e958";
}

.fe-send:before {
  content: "\e9c2";
}

.fe {
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Feather!important;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
}

.chat-dropdown-item {
  color: #18113c;
  font-size: .875rem;
  font-weight: 500;
  line-height: 28px;
  padding: 0.125rem 1.2rem;
}

.chat-dropdown-item {
  background-color: transparent;
  border: 0;
  clear: both;
  display: block;
  font-weight: 400;
  padding: 0.25rem 1rem;
  text-align: inherit;
  white-space: nowrap;
  width: 100%;

}

.chat-dropdown-menu {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 10px 30px 0 rgb(31 45 61 / 10%);
  color: #5c5776;
  font-size: .875rem;
  line-height: 1.375rem;
  z-index: 1040;
}

.chat-dropdown-menu {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #ecebf1;
  border-radius: 0.25rem;
  display: none;
  list-style: none;
  margin: 0;
  min-width: 10rem;
  padding: 0.5rem 0;
  position: absolute;
  text-align: left;
  z-index: 1000;
}

.px-3 {
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}

[role=button] {
    cursor: pointer;
}


